body, html{
  height: 100%;
  margin: 0;
  padding: 0;
  background: #108bff;
}
a.active{
  color: rgb(255, 123, 0);
}
textarea{
  resize: none;
  font-size: 20px;
  width: 60%;
  border: 3px solid gold;
  border-radius: 10px;
  background:rgb(2, 115, 221);
  color: gold;
}
textarea::placeholder{
  color: rgba(255, 166, 0, 0.7);
}

